#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40px;
}

#navbar .active {
    background-color: aqua;
    color: #383838;
}

#navbar li {
    list-style: none;
    
}

.navlink {
    text-decoration: none;
    padding: 3px;
    color: white;
}

